HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
logs
image
.mvn
mvnw
mvnw.cmd
target
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Env File ##
.env
.env_stg
.env*
.env*

## Go 
src/
mock/*

payso-installment-api*
deploy*.sh
build-*.sh

Dockerfile
docker-compose.yml
internal-*
